TARGET_HOST=127.0.0.1
BASE_DOMAIN=alexandre-vernet.fr
PM_DB_PORT=5432
PM_DB_NAME=project_manager
PM_DB_USER=postgres
PM_DB_PASSWORD=postgres

PM_TABLE=projects
PM_COLUMN_NAME=name
PM_COLUMN_URL=url
PM_COLUMN_HTTP_PORT=http_port
PM_COLUMN_HTTPS_PORT=https_port

SSH_PORT=22
SSH_USER=debian
SSH_PASSWORD=
SSH_KEY_PATH=
SSH_BASE_DIR=/home/debian/apps