TARGET_HOST=127.0.0.1
BASE_DOMAIN=alexandre-vernet.fr
PM_DB_PORT=5432
PM_DB_NAME=project_manager
PM_DB_USER=postgres
PM_DB_PASSWORD=postgres

SSH_PORT=22
SSH_USER=debian
SSH_PASSWORD=
SSH_KEY_PATH=
SSH_BASE_DIR=/home/debian/apps